#lista-de-nombres {
    background-color: #f2f2f2;
    text-align: center;
    font-family: Arial, sans-serif;
  }

  #nombres-lista {
    background-color: #ffffff;
    text-align: center;
    font-family: Arial, sans-serif;
  }

  #titulo{
    text-align: center;
    font-family: Arial, sans-serif;
  }

  #ingresar-nombre{
    text-align: center;
  }